
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ededf3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: #fff;
    padding: 30px;
    border-radius: 16px;
    max-width: 400px;
    width: 100%;
  }

form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 10px;
}

h2.title {
    text-align: center;
    font-size: 28px;

}

.subtitle {
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
}

.subtitle a {
    color: #007BFF;
    text-decoration: none;
}

.subtitle a:hover {
    text-decoration: underline;
}

.social-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.google-btn img, .fb-btn img {
    width: 20px;
    height: 20px;
}

.google-btn, .fb-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdfdfd;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 15px;
}

.btn-text {
    font-size: 14px;
    color: #444;
}
  
.email-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
input {
    border: 1px solid #c6c4c4;
    border-radius: 8px;
    font-size: 14px;
    padding: 15px;
}
  
input:focus {
    outline: none;
    border-color: #3b82f6;
}
  
.cta-btn {
    background: #3b82f6;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    padding: 15px;
}
  
.cta-btn:hover {
    background: #2563eb;
}

.forget-pass {
    color: #007BFF;
    text-align: center;
}

.forget-pass:hover{
    text-decoration: underline;
}

label{
    color: #a1a0a0;
}